POSTGRES_USER=profileforge_user
POSTGRES_PASSWORD=your_password_here
POSTGRES_DB=profileforge_db
POSTGRES_HOST=localhost

POSTGRES_TEST_USER=profileforge_test_user
POSTGRES_TEST_PASSWORD=your_test_password
POSTGRES_TEST_DB=profileforge_test_db